<p>&nbsp;</p>
<section data-th-each="product: ${productList}" xmlns:th="http://www.thymeleaf.org">
    <div class="aui-card-list">

        <!--/*@thymesVar id="name" type="java.lang.String"*/-->
        <div class="aui-card-list-header" th:text="${product.product_name}">
            糖尿病早期筛查
        </div>
        <div class="aui-card-list-content-padded">
            <img src="">
        </div>
        <div class="aui-card-list-footer" style="width: 100%;">
            <a data-th-href="@{/why_product}">
                <div align="center" style="height: 100%; width: 100%; border: 1px; text-align: center;">为什么要早期检查</div>
            </a>
            <a data-th-href="@{'/product_detail?product_id=' + ${product.product_id}}">
                <div align="center" style="height: 100%; width: 100%; border: 1px;">如何进行早期筛查</div>
            </a>
        </div>

    </div>
</section>