<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>为什么</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/weui/css/weui.min.css}">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
</head>
<body>
<div class="page article js_show">
    <div class="page__hd">
        <h1 class="page__title">为什么做早期检查？</h1>
        <p class="page__desc">文章</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <h1>糖尿病</h1>
            <section>
                <section>
                    <p>
                        糖尿病是一组以高血糖为特征的代谢性疾病。高血糖则是由于胰岛素分泌缺陷或其生物作用受损，或两者兼有引起。糖尿病时长期存在的高血糖，导致各种组织，特别是眼、肾、心脏、血管、神经的慢性损害、功能障碍。
                    </p>
                </section>
            </section>
        </article>
    </div>
</div>
</body>
</html>