<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>检测结果</title>
    <style>
        table.mytable {
            font-size:16px;
            width: 784px;
        }
        table.gridtable {
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            font-size:25px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
        }
        table.gridtable td {
            font-size:25px;
            width: 150px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>糖老师知道检测中心用户信息表</h1>
    <table class="gridtable">
        <tbody>
        <tr>
            <th>姓名</th>
            <td th:text="${analysisInfo.patient_info.name}"></td>
            <th>性别</th>
            <td th:switch="${analysisInfo.patient_info.gender}">
                <span th:case="F" th:text="女"></span>
                <span th:case="M" th:text="男"></span>
            </td>
            <th>年龄</th>
            <td th:text="${analysisInfo.patient_info.age}"></td>
        </tr>
        <tr>
            <th>身高</th>
            <td th:switch="${analysisInfo.patient_info.height}">
                <span th:case="0" th:text="未记录"></span>
                <span th:case="*" th:text="${analysisInfo.patient_info.height}"></span>
            </td>
            <th>体重</th>
            <td th:switch="${analysisInfo.patient_info.weight}">
                <span th:case="0" th:text="未记录"></span>
                <span th:case="*" th:text="${analysisInfo.patient_info.weight}"></span>
            </td>
            <th>是否怀孕</th>
            <td th:switch="${analysisInfo.patient_info.is_pregnant}">
                <span th:case="0" th:text="否"></span>
                <span th:case="1" th:text="是"></span>
            </td>
        </tr>
        <tr>
            <th>是否有糖尿病史</th>
            <td th:switch="${analysisInfo.patient_info.has_diabetic}">
                <span th:case="0" th:text="否"></span>
                <span th:case="1" th:text="是"></span>
            </td>
            <th>联系电话</th>
            <td colspan="3" th:text="${analysisInfo.patient_info.phone}"></td>
        </tr>
        <tr>
            <th>邮寄地址</th>
            <td colspan="5" th:text="${analysisInfo.patient_info.country} + ${analysisInfo.patient_info.province} + ${analysisInfo.patient_info.city} + ${analysisInfo.patient_info.district} + ${analysisInfo.patient_info.address}"></td>
        </tr>
        <tr>
            <th>详细地址</th>
            <td colspan="5" th:text="${analysisInfo.patient_info.country} + ${analysisInfo.patient_info.province} + ${analysisInfo.patient_info.city} + ${analysisInfo.patient_info.district} + ${analysisInfo.patient_info.address}"></td>
        </tr>
        <tr>
            <th>检测项目</th>
            <td colspan="2" th:text="${analysisInfo.product_name}"></td>
            <th>样本收集日期</th>
            <td colspan="2" th:text="${#dates.format(analysisInfo.analysis.collection_date, 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <th>检测日期</th>
            <td colspan="2" th:text="${#dates.format(analysisInfo.analysis.analysis_date, 'yyyy-MM-dd')}"></td>
            <th>检测结果</th>
            <td colspan="2" th:text="${analysisInfo.analysis.result}"></td>
        </tr>
        </tbody>
    </table>
    <table class="mytable">
        <tbody>
            <tr>
                <td colspan="2">备注：</td>
            </tr>
            <tr>
                <td colspan="2">
                    <ol>
                        <li>身高、体重为选填信息，其余为必填信息。</li>
                        <li>邮寄地址指样品杯、真空收集管寄送地址 ；详细地址指待检测人居住地址。</li>
                        <li>
                            本项目检测结果仅为初步筛查，不是确诊试验。目前临床上OGTT试验为糖尿病确诊试验，肾穿刺活检试验为肾病的确诊实验。鉴于本项目检测试剂灵敏度和特异性尚无法做到100%，如发现异常者，建议其前往医院进行相应的检测予以确诊，该行为自愿，费用由用户本人自行承担。
                        </li>
                        <li>本项目所用的检测试剂均由深圳市安帝宝科技有限公司提供。</li>
                        <li>报告或报告复印件未加盖单位检测试验专用章，均为无效报告。</li>
                        <li>如对本报告结果有异议，请于收到报告十五日内向本单位提出，期限内给予受理。</li>
                    </ol>
                </td>
            </tr>
        <tr>
            <td>受理电话（传真）：0755-23733673</td>
        </tr>
        <tr>
            <td align="right">
                <div class="logo" align="center" style="width: 200px; height: 200px;">
                    <span style="font-size: 20px; position: relative; top: 100px;" th:text="${#dates.format(analysisInfo.analysis.analysis_date, 'yyyy年MM月dd')}"></span>
                    <img style="width: 250px; height: 250px; position: relative; display: block; z-index: -1; bottom: 100px; right: 50px;" th:src="@{/analysis/images/adibio.jpg}"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>