<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/> 
    <link rel="stylesheet" type="text/css" href="./AUI/css/aui.css" />

    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">

    <link rel="stylesheet" href="./jquery-weui/css/jquery-weui.css">

    <link rel="stylesheet" type="text/css" href="./menu/css/style.css">

    <script type = "text/javascript" src = "./jquery-3.2.1/jquery-3.2.1.min.js"></script> 
   <!-- <link data-th-href="@{/jquery-weui/css/jquery-weui.min.css}" rel="stylesheet"> -->


	
	<title>购物车</title>

</head>

<body>

	<section class="" style="margin-bottom:50px; " id=border>

	<!--	
	<div class="aui-row aui-row-padded" style="background-color: #fff; display: flex;flex-direction: row;justify-content: center;align-items:center;>
		<dir class="aui-col-xs-1" >
			<input class="aui-checkbox aui-col-xs-4" type="checkbox" name="" checked>
		</dir>

		<div class="aui-card-list aui-col-xs-11" >
			<div class="aui-card-list-content-padded">
				
			</div>
		
		    <div class="aui-card-list-header">
		    	
		    </div>
		 	<div class="aui-card-list-content-padded">
		 		<div class="aui-row aui-row-padded">
		 			
		            <div class="aui-col-xs-4">糖尿病检测服务</div>
		            <div class="aui-col-xs-4 aui-pull-right">
		            	<div class="aui-bar aui-bar-btn aui-bar-btn-sm" style="width:100px;float:right">
		                    <div class="aui-bar-btn-item" id="decrement">
		                        <i class="aui-iconfont aui-icon-minus"></i>
		                    </div>
		                    <div class="aui-bar-btn-item">
		                        <input type="number" class="aui-input aui-text-center" value="1" >
		                    </div>
		                    <div class="aui-bar-btn-item" id="increment">
		                        <i class="aui-iconfont aui-icon-plus"></i>
		                    </div>
		                </div>
            	
		            </div>
		        </div>
		    	
		    </div>
		    <div class="aui-card-list-footer">
		    	
		    	<div class="aui-pull-left" >金额:￥50</div>  	
		    </div>
		</div>

	</div>
	-->	



	<div class="weui-cells weui-cells_checkbox">
		<div class="weui-panel weui-panel_access">
			<!--<div class="weui-panel__hd"></div>-->
			<div class="weui-panel__bd">
			    <div class="weui-cell">
				    <label class="weui-cell__hd weui-check__label">
				      <input type="checkbox" class="weui-check" name="checkbox" checked="checked">
				      <i class="weui-icon-checked"></i>
				    </label> 
				    <div class="weui-cell__bd">
				      	<div class="weui-media-box weui-media-box_appmsg">
					     	<div class="weui-media-box__hd">
					        	<img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505831449&di=bdfe5ce42a5f422a8cc4926dbd8d73a7&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.jsqq.net%2Fuploads%2Fallimg%2F140323%2F1_140323064336_4.jpg">
					    	</div>
					    	<div class="weui-media-box__bd">
					        	<h4 class="weui-media-box__title">糖尿病检测</h4>
					    		<div class="weui-media-box__desc">
					        		<p>金额:￥50</p>
					        	</div>
					    	</div>
					    	
					    </div>
				    </div>
				    <div class="weui-cell__ft">
						<div class="aui-bar aui-bar-btn aui-bar-btn-sm" style="width:70px">
				            <div class="aui-bar-btn-item" name="decrement">
				                <i class="aui-iconfont aui-icon-minus"></i>
				            </div>
				            <div class="aui-bar-btn-item">
				                <input type="number" disabled="true" class="aui-input aui-text-center" value="1" >
				            </div>
				            <div class="aui-bar-btn-item" name="increment">
				                <i class="aui-iconfont aui-icon-plus"></i>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="weui-panel__ft">
			    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" name="people">
			    	<div class="weui-cell__hd"></div>
			    	<div class="weui-cell__bd">检测人</div>
			    	<span class="weui-cell__ft"></span>
			    </a>
			    <ul class="people-ist" name="people_list">
			    	<li class="weui-cell weui-cell_link">
			    		<div class="weui-cell__hd"></div>
			    		<div class="weui-cell__bd">李狗蛋</div>
			    		<div class="weui-cell__ft">
			    			<i class="weui-icon-cancel"></i>
			    		</div>
			    	</li>
			    	<li>
			    		<div style="display:flex; justify-content:center; margin: 10px auto;">
			    			<div class="weui-btn weui-btn_mini weui-btn_primary">添加检测人</div>
			    		</div>
			    		
			    	</li>
			    </ul>
			</div>
		</div>

		<div class="weui-panel weui-panel_access">
			<!--<div class="weui-panel__hd"></div>-->
			<div class="weui-panel__bd">
			    <div class="weui-cell">
				    <label class="weui-cell__hd weui-check__label">
				      <input type="checkbox" class="weui-check" name="checkbox" checked="checked">
				      <i class="weui-icon-checked"></i>
				    </label> 
				    <div class="weui-cell__bd">
				      	<div class="weui-media-box weui-media-box_appmsg">
					     	<div class="weui-media-box__hd">
					        	<img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505831449&di=bdfe5ce42a5f422a8cc4926dbd8d73a7&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.jsqq.net%2Fuploads%2Fallimg%2F140323%2F1_140323064336_4.jpg">
					    	</div>
					    	<div class="weui-media-box__bd">
					        	<h4 class="weui-media-box__title">糖尿病检测</h4>
					    		<div class="weui-media-box__desc">
					        		<p>金额:￥50</p>
					        	</div>
					    	</div>
					    	
					    </div>
				    </div>
				    <div class="weui-cell__ft">
						<div class="aui-bar aui-bar-btn aui-bar-btn-sm" style="width:70px">
				            <div class="aui-bar-btn-item" name="decrement">
				                <i class="aui-iconfont aui-icon-minus"></i>
				            </div>
				            <div class="aui-bar-btn-item">
				                <input type="number" disabled="true" class="aui-input aui-text-center" value="1" >
				            </div>
				            <div class="aui-bar-btn-item" name="increment">
				                <i class="aui-iconfont aui-icon-plus"></i>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="weui-panel__ft">
			    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" name="people">
			    	<div class="weui-cell__hd"></div>
			    	<div class="weui-cell__bd">检测人</div>
			    	<span class="weui-cell__ft"></span>
			    </a>
			    <ul class="people-ist" name="people_list">
			    	<li class="weui-cell weui-cell_link">
			    		<div class="weui-cell__hd"></div>
			    		<div class="weui-cell__bd">李狗蛋</div>
			    		<div class="weui-cell__ft">
			    			<i class="weui-icon-cancel"></i>
			    		</div>
			    	</li>
			    	<li class="weui-cell weui-cell_link">
			    		<div class="weui-cell__hd"></div>
			    		<div class="weui-cell__bd">李狗蛋</div>
			    		<div class="weui-cell__ft">
			    			<i class="weui-icon-cancel"></i>
			    		</div>
			    	</li>
			    	<li>
			    		<div style="display:flex; justify-content:center; margin: 10px auto;">
			    			<div class="weui-btn weui-btn_mini weui-btn_primary">添加检测人</div>
			    		</div>
			    		
			    	</li>
			    </ul>
			</div>
		</div>
		
		
	</div>
	

	


	</section>

	<footer class="aui-bar aui-bar-tab"> 

	    <div class="weui-btn weui-btn_primary aui-bar-tab-item"  onclick="Buy()" tapmode>购买</div>
	
	</footer>

	<script type="text/javascript">


		function DropDown(el) {

				this.dd = el;

				this.initEvents();

			}

		DropDown.prototype = {

			initEvents : function() {

				var obj = this;



				obj.dd.on('click', function(event){

					$(this).toggleClass('active');

					event.stopPropagation();

				});	

			}

		}



		$(function() {



			var dd = new DropDown( $('div[name=menu]') );



			$(document).click(function() {

				// all dropdowns

				$('.wrapper-dropdown-3').removeClass('active');

			});



		});
	</script>

</body>


<!--
<script type="text/javascript" src="./AUI/script/aui-dialog.js" ></script>

<script data-th-src="@{/AUI/script/aui-dialog.js}" ></script>
<script data-th-src="@{/jquery-weui/js/jquery-weui.min.js}"></script>
-->

<script type="text/javascript" src="./jquery-weui/js/jquery-weui.min.js" ></script>

<script type="text/javascript">

			var cartData={};

			var unit_price=[];
			
			$(document).ready(GetInfo());
			
			function GetInfo(){

				var html;

				var path;

				//获取购物车信息
				/*$.ajax({
		            cache: true,
		            type: "GET",
		            url: path,
		            data: "get shopping car info",// 
		            dataType:json,
		            async: true,
		            error: function (request) {
		                
		            },
		            success: function (data) {
		                cartData = data
		            }
		        });*/
		        cartData = {

		        	"result":"none",

		        	"errMsg":"",

		        	"parm":[

		        		{
		        			"cart_id":"",
		        			"cart_itemid":"1230",
		        			"product_id":"32132146-4564-56465",
		        			"product_name":"糖尿病早期筛查",
		        			"unit_price":0.01,
		        			"quantity":3

		        		},
		        		{
		        			"cart_id":"",
		        			"cart_itemid":"1230",
		        			"product_id":"32132146-4564-56465",
		        			"product_name":"糖尿病早期筛查",
		        			"unit_price":0.01,
		        			"quantity":3

		        		}
		        	]

		        };
		        if (cartData.result=="ok") {
		        	
		        	for (var i = cartData.parm.length - 1; i >= 0; i--) {
		        		unit_price[cartData.parm[i].product_name] = cartData.parm[i].unit_price;
		        		html = '<div class="aui-card-list" >'
		        		html += '<div class="aui-card-list-header"><input class="aui-checkbox aui-col-xs-4" type="checkbox" name="" checked></div>'
		        		html += '<div class="aui-card-list-content-padded">'
		        		html += '<div class="aui-row aui-row-padded">'
		        		html += '<div class="aui-col-xs-4">'+cartData.parm[i].product_name+'</div>'
		        		html += '<div class="aui-col-xs-4 aui-pull-right"><div class="aui-bar aui-bar-btn aui-bar-btn-sm" style="width:100px;float:right"><div class="aui-bar-btn-item" name="decrement"><i class="aui-iconfont aui-icon-minus"></i></div><div class="aui-bar-btn-item"><input type="number" class="aui-input aui-text-center" value="'+cartData.parm[i].quantity+'" name="count" readonly="readonly"></div><div class="aui-bar-btn-item" name="increment"><i class="aui-iconfont aui-icon-plus"></i></div></div></div></div></div>'
		        		html += '<div class="aui-card-list-footer">'
		        		html += '<div class="aui-pull-left 1">金额:￥'+(cartData.parm[i].unit_price*cartData.parm[i].quantity)+'</div><div class="aui-pull-right"><div name="menu" class="wrapper-dropdown-3" tabindex="1">检测人<ul class="dropdown" name="people_list"><li><a href="#">someone</a></li></ul></div></div>'
		        		html += '</div></div>'
		        		$('#border').append(html);


		        	}
		        	
		        }else{
		        	alert('获取购物车信息失败');
		        }

			}

	//减少数量
	$('div[name=decrement]').click(function Decrement(e){
		var priceNode =  $(this).parent().parent().parent().parent().next().children("div.1");
		var countNode = $(this).next().children();
		if (parseInt(countNode.val())>1) {
			
			var unit_price = GetUnitPrice($(this).parent().parent().prev().text());
			countNode.val(parseInt(countNode.val())-1);
			/*$.ajax({

			});*/
			priceNode.text("金额：￥"+(unit_price*countNode.val()));
		}else{
			//订单数等于0 删除
			$.confirm({
			  title: '确认删除',
			  text: '确认删除该订单吗？',
			  onOK: function () {
			    //点击确认
			    /*$.ajax({

				});*/
	         	 priceNode.parent().parent().remove();
			  },
			  onCancel: function () {
			  	//点击取消

			  }
			});
			
		}
	})

	//增加数量
	$('div[name=increment]').click(function Increment(e){
		var priceNode =  $(this).parent().parent().parent().parent().next().children("div.1");
		var countNode = $(this).prev().children();
		if (countNode.val()<9) {
			var unit_price = GetUnitPrice($(this).parent().parent().prev().text());
			countNode.val(parseInt(countNode.val())+1);

			/*$.ajax({

			});*/

			priceNode.text("金额：￥"+(unit_price*countNode.val()));
		}
		
	})

	$('a[name=people]').click(function(e){
		$(this).next().slideDown();
		e.stopPropagation();
	});

	

	$(document).click(function(e){
		$('ul[name=people_list]').slideUp();
	});
	

	//限制输入为非零数字
	/*$("input[name='count']").keyup(function(){   
            var tmptxt=$(this).val();
            if (tmptxt.replace(/\D|^0/g,'1')!='') {
            	
            	$(this).val(tmptxt.replace(/\D|^0/g,''));
            }else{

            }
                   
        }).bind("paste",function(){       
            var tmptxt=$(this).val();       
            $(this).val(tmptxt.replace(/\D|^0/g,''));       
        }).css("ime-mode", "disabled");*/
    
    //获得单价
	function GetUnitPrice(product){
		return unit_price[product];
	}

	//购买
	function Buy(){
		
		/*$.ajax({
            cache: true,
            type: "POST",
            url: ,
            data: ,
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                
            }
        });*/
	}
</script>

<style type="text/css">
	.people-list{
		margin-left: 10px;

	}

	.input-number {
	  width: 80px;
	  padding: 0 12px;
	  vertical-align: top;
	  text-align: center;
	  outline: none;

	}

	.input-number,
	.input-number-decrement,
	.input-number-increment {
	  border: 1px solid #dddddd;
	  height: 40px;
	  user-select: none;
	}

	.input-number-decrement,
	.input-number-increment {
	  display: inline-block;
	  width: 30px;
	  line-height: 38px;
	  background: #f1f1f1;
	  color: #444444;
	  text-align: center;
	  font-weight: bold;
	  cursor: pointer;
	}
	.input-number-decrement:active,
	.input-number-increment:active {
	  background: #dddddd;
	}

	.input-number-decrement {
	  border-right: none;
	  border-radius: 0px 0 0 0px;
	}

	.input-number-increment {
	  border-left: none;
	  border-radius: 0 0px 0px 0;
	}

	.count-eare{
		display: flex;
		flex-direction: row;

		width: 100px;
		

	}
	.my-btn{

		font-size: 15px;
	}
	.num-input{

	}
</style>

</html>