<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>json test</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" data-th-src="@{/AUI/script/aui-dialog.js}"></script>

<script data-th-src="@{/jquery-weui/js/jquery-weui.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var context = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

    function requestAddCartItem() {
        var paypath = context + '/add_cart';
        $.ajax({
            cache: true,
            type: "POST",
            url: paypath,
            dataType: "json",
            data: JSON.stringify({
                "cartItem": {
                    "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                    "cart_itemid": "68e5c479-43cc-4cd4-b67a-2094481e8e6d",
                    "product_id": "bda342a2-27c0-4cb1-bed3-11a786391365/",
                    "quantity": 1
                },
                "patientInfo": {
                    "customer_id": "60df649c-51c8-4d1d-b02c-47d44d4b7355",
//                        "patient_infoid": "9e62c589-cc2e-485c-bae0-a52e9fcfebeb",
                    "name": "张三",
                    "gender": "M",
                    "age": 20.0,
                    "country": "CHINA",
                    "province": "广东省",
                    "city": "深圳市",
                    "district": "南山区",
                    "address": "深圳大学",
                    "phone": "13829610228",
                    "has_diabetic": 0,
                    "is_pregnant": 0,
                    "height": 0.0,
                    "weight": 0.0
                }
            }),
            contentType: "application/json",
            async: false,
            error: function (request) {
//                alert(request);
                alert("Connection error");
            },
            success: function (data) {
                if (data.result === 'err') {
                    alert(data.errMsg);
                }
            }
        })
    }

    function requestReduceCartItem() {
        var reducePath = context + '/reduce_cart_item';
        $.ajax({
            type: "POST",
            url: reducePath,
            dataType: "json",
            data: JSON.stringify({
                "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                "cart_itemid": "68e5c479-43cc-4cd4-b67a-2094481e8e6d",
                "product_id": "bda342a2-27c0-4cb1-bed3-11a786391365/",
                "quantity": 1
            }),
            contentType: "application/json",
            async: false,
            error: function (request) {
//                alert(request);
                alert("Connection error");
            },
            success: function (data) {
                if (data.result === 'err') {
                    alert(data.errMsg);
                }
            }
        })
    }

    function requestCartPatientInfos() {
        var reducePath = context + '/cart_patient_infos';
        $.ajax({
            type: "POST",
            url: reducePath,
            dataType: "json",
            data: JSON.stringify({
                "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                "cart_itemid": "68e5c479-43cc-4cd4-b67a-2094481e8e6d",
                "product_id": "bda342a2-27c0-4cb1-bed3-11a786391365/",
                "quantity": 1
            }),
            contentType: "application/json",
            async: false,
            error: function (request) {
//                alert(request);
                alert("Connection error");
            },
            success: function (data) {
                if (data.result === 'err') {
                    alert(data.errMsg);
                }
            }
        })
    }

    function requestBuyCzrtSelects() {
        var buyPath = context + '/buy_cart_selects';
        $.ajax({
            type: "POST",
            url: buyPath,
            dataType: "json",
            data: JSON.stringify([{
                "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                "cart_itemid": "68e5c479-43cc-4cd4-b67a-2094481e8e6d",
                "product_id": "bda342a2-27c0-4cb1-bed3-11a786391365/",
                "quantity": 1
            }, {
                "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                "cart_itemid": "432",
                "product_id": "83f7c071-7858-4e3f-b000-3c011db15e41",
                "quantity": 1
            }, {
                "cart_id": "8b077e8d-2881-47fa-90dc-210f273afeaa",
                "cart_itemid": "234",
                "product_id": "27e21552-3127-4b9d-8c79-6c791a22b3ec",
                "quantity": 1
            }]),
            contentType: "application/json",
            async: false,
            error: function (request) {
//                alert(request);
                alert("Connection error");
            },
            success: function (data) {
                if (data.result === 'err') {
                    alert(data.errMsg);
                }
            }
        })
    }

    requestBuyCzrtSelects();
    //        requestReduceCartItem();
    //        requestAddCartItem();
//    requestCartPatientInfos();
</script>
</body>
</html>