<span xmlns:th="http://www.thymeleaf.org" id="cart_span">
    <span data-th-each="cartItem: ${itemProductList}">
    <div id='cartItem'>
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class="weui-cell">
                        <label class="weui-cell__hd weui-check__label">
                            <input type="checkbox" class="weui-check" name="checkbox" checked="checked">
                            <i class="weui-icon-checked"></i>
                            <input type="hidden" name="cart_info">
                        </label>
                        <div class="weui-cell__bd">
                            <div class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb"
                                         src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505831449&di=bdfe5ce42a5f422a8cc4926dbd8d73a7&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.jsqq.net%2Fuploads%2Fallimg%2F140323%2F1_140323064336_4.jpg">
                                </div>
                                <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title"
                                    style="width:91px;word-wrap:break-word; word-break:normal;font-size: 13px;">
                                    <span name="productName"  th:text="${cartItem.product_name}"></span>
                                </h4>
                                    <div class="weui-media-box__desc">
                                        <p>金额：￥<span name="money" th:text="${cartItem.whole_price}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-panel__ft">
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" name="showPeople">
                        <div class="weui-cell__hd"></div>
                        <div class="weui-cell__bd">检测人</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                    <div class="people-ist" name=people_list style="display: none">
                        <ul name="cart_patient_list">
                        </ul>
                        <div style="display:flex; justify-content:center; margin: 10px auto;">
                            <div class="weui-btn weui-btn_mini weui-btn_primary" name="add">添加检测人</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</span>
<div class="weui-btn weui-btn_primary" id="buy_button" onclick="Buy()" style="position:fixed; bottom: 50px; width: 100%">购买</div>
    <script type="text/javascript" th:inline="javascript">
        function redrawBuyButton() {
            var tar_height = $('#tabbar').height;
//            $('#buy_button').bottom = tar_height;
            $('#buy_button').css({borderRadius:'0 0 0 0'});
        }
        $(document).ready(redrawBuyButton());
    </script>
</span>

<!--<span xmlns:th="http://www.thymeleaf.org">-->
    <!--<div class="weui-cells weui-cells_checkbox" id="content" style="height:calc(100% - 50px); top:0; overflow: scroll">-->
<!---->
    <!--</div>-->
<!---->
    <!--<span style="display: none;">-->
        <!---->
    <!--</span>-->
    <!---->
    <!--<div class="weui-btn weui-btn_primary" onclick="Buy()" style="position:fixed; bottom: 50px; width: 100%">购买</div>-->
<!---->
    <!--<script type="text/javascript" th:src="@{/js/cart.js}"></script>-->
    <!--<script type="text/javascript" th:inline="javascript">-->
        <!--function requestData(suffix, successFunc) {-->
            <!--var context = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;-->
            <!--var path = context + suffix;-->
            <!--$.ajax({-->
                <!--url: path,-->
                <!--type: "GET",-->
                <!--async: true,-->
                <!--error: function (request) {-->
                    <!--alert("Connection error");-->
                    <!--$('#loadingToast').hide();-->
                <!--},-->
                <!--success: function (data) {-->
                    <!--successFunc(data);-->
                <!--}-->
            <!--})-->
        <!--}-->
        <!--function parseCartItem(result) {-->
            <!--$('#content').empty();-->
            <!--var cartTemplet;-->
            <!--for (var i = 0; i < result.parm.length; i++) {-->
                <!--$('#cartItem').find('span[name=productName]').html(result.parm[i].product_name);-->
                <!--$('#cartItem').find('span[name=money]').html(result.parm[i].unit_price * result.parm[i].quantity);-->

                <!--cartTemplet = $('#cartItem').clone();-->
                <!--cartTemplet.attr('id', 'cart_item' + i.toString);-->
                <!--$('#content').append(cartTemplet);-->
            <!--}-->
            <!--console.log(result.parm);-->
        <!--}-->
        <!--$(document).ready(requestData('/show_cart_info', parseCartItem));-->
    <!--</script>-->
<!--</span>-->


